<div class="container">
  <div class="d-flex justify-content-start">
      <h4>Seleccione su Fondo de Pensión (AFP)</h4>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="mb-3">
              <label for="salud" class="form-label">AFP</label>
              <select class="form-control" name="afp" id="afp" [(ngModel)]="fondopension.afp">
                  <option value="0">-- Seleccione</option>
                  <option value="1">CUPRUM</option>
                  <option value="2">MODELO</option>
                  <option value="3">CAPITAL</option>
                  <option value="4">HABITAT</option>
                  <option value="1">PLANVITAL</option>
                  <option value="2">PROVIDA</option>
                  <option value="3">UNO</option>
              </select>
          </div>
          <div class="mb-3">
              <label for="prevision" class="form-label">Porcentaje</label>
              <select class="form-control" name="sueldob" id="sueldob" [(ngModel)]="fondopension.porcentajeafp">
                  <option value="0">-- Seleccione</option>
                  <option value="1">AFP Cuprum: 1,44%</option>
                  <option value="2">AFP Modelo: 0,58%</option>
                  <option value="3">AFP Capital: 1,44%</option>
                  <option value="4">AFP Habitat: 1,27%</option>
                  <option value="1">AFP Planvital: 1,16%</option>
                  <option value="2">AFP Provida: 1,45%</option>
                  <option value="3">AFP Uno: 0,69%</option>
              </select>
          </div>
          <button class="btn btn-success" (click)="save()"><i class="fas fa-save"></i> Guardar</button>
      </div>
  </div>
</div>
