<div class="container">
  <div class="d-flex justify-content-end">
      <button class="btn btn-success" routerLink="/cargos/add"><i class="fas fa-plus"></i> Agregar</button>
  </div>
  <div class="row">
      <div class="col-md-12">
          <table class="table">
              <thead>
                  <tr>
                      <th>Cargo</th>
                      <th>Descripción</th>
                      <th>Sueldo base</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Gerente</td>
                      <td>Planificar, organizar, dirigir</td>
                      <td>$850.000</td>
                      <td>
                          <button class="btn mx-2 btn-warning"><i class="fa-solid fa-pencil"></i></button>
                          <button class="btn mx-2 btn-danger"><i class="fa-solid fa-trash"></i></button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
