<h1>Liquidación</h1>
<div class="container">
  <div class="row">
    <div class="col-md-12 bg-grey"><h4>Datos Personales</h4></div>
    <div class="col-md-3 bg-white">
      <h5><b>Nombre:</b></h5>
      <h5><b>Apellidos:</b></h5>
      <h5><b>Fecha de nacimiento:</b></h5>
      <h5><b>Fondo de Salud:</b></h5>
      <h5><b>Porcentaje:</b></h5>
    </div>
    <div class="col-md-3 bg-white">
      <h5>Lukas</h5>
      <h5>Ibarra Bugueño</h5>
      <h5>12/05/1999</h5>
      <h5>FONASA</h5>
      <h5>7,00%</h5>
    </div>
    <div class="col-md-3 bg-white">
      <h5><b>Cargo:</b></h5>
      <h5><b>AFP:</b></h5>
      <h5><b>Porcentaje:</b></h5>
      <h5><b>Nº de Cargas:</b></h5>
      <h5><b>Valor UF:</b></h5>
    </div>
    <div class="col-md-3 bg-white">
      <h5>Gerente</h5>
      <h5>HABITAT</h5>
      <h5>1,27%</h5>
      <h5>1</h5>
      <h5>34.759,75</h5>
    </div>
    <div class="col-md-12 bg-grey"><h4>--------------------------------------------------------------------------------------------------------------------------------------</h4></div>
    <div class="col-md-12">
      <table class="table">
          <thead>
              <tr>
                  <th>Item</th>
                  <th>Haberes</th>
                  <th>Descuentos</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Sueldo base</td>
                  <td>$850.000</td>
                  <td>$0</td>
              </tr>
              <tr>
                <td>AFP</td>
                <td>$850.000</td>
                <td>$10.795</td>
            </tr>
            <tr>
              <td>Fondo de Salud</td>
              <td>$850.000</td>
              <td>$59.500</td>
          </tr>
          </tbody>
          <thead>
            <tr>
                <th>Total haberes</th>
                <th></th>
                <th>Total descuentos</th>
            </tr>
        </thead>
        <tbody>
          <tr>
              <td>$850.000</td>
              <td></td>
              <td>$70.295</td>
          </tr>
      </tbody>
      <thead>
        <tr>
            <th>Liquido a Pagar:</th>
            <th></th>
            <th>$779.705</th>
        </tr>
    </thead>
      </table>
  </div>




  </div>

</div>

